* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color:#f2f3f7;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/*Create Submission*/

.content-body {
    padding-left: 15px;
    padding-right: 15px;
    height: calc(100% - 130px);
    margin-top: 160px;
    padding-bottom: 100px;
}

.body-container {
    margin: 0% 7.5%;
    margin-top: 30px;
}

.content-block {
    padding: 2%;
    border-radius: 20px;
    border: 0px solid black;
    background-color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content-block > h1 {
    padding-left: 30px;
}

.underline {
    width: 100%;
    border: 0.5px solid #dddddd;
}


.form-group {
    padding: 10px 20px;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#activityName, #activity_desc, #due_Date, #due_Time, .textbox, .dropdown {
    width: 100% !important;
    padding: 8px !important;
    margin: 0;
    margin-bottom: 0 !important;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #dddddd;
    background-color: #f5f5f5;
}

#activity_desc {
    height: 100px;
    resize: none;
}

.field-block {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px;
}

.half-block {
    width: 100%;
}

.button {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.button-type-1 {
    border-radius: 5px;
    background-color: #990000;
    border: 0px;
    color: #fff;
    height: 40px;
    cursor: pointer;
}

.one-button-group {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

@media (max-width: 700px){
    .body-container {
        margin: 0% 2.5%;
        margin-top: 30px;
    }
}

@media (max-width: 425px){
    .content-block > h1 {
        padding-left: 15px;
    }

    .form-group {
        padding: 10px 5px; 
        margin: 5px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }
}

/* Navigation Bar */

header {
    background-color: #990000;
    color: white;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.top-bar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #FFF;
    color: black;
    height: 70px;
    padding-left: 16px;
    padding-right: 16px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: calc(60px - 0.5rem);
    margin-right: 10px;
}

.main-nav > ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}


.main-nav ul li a {
    text-decoration: none;
    color: black;
}

.profile-nav{
    margin-left: auto;
}

.profile-nav > ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.profile-nav > ul > li > a {
    text-decoration: none;
    color: black;
}

.profile-nav > ul > li {
    margin-right: 25px;
}


.bottom-bar {
    background-color: #700000;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom-bar > ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: left;
    height: 100%;
    width: 85%;
}

.bottom-bar ul li {
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.bottom-bar > ul > li > a {
    padding: 0px 20px;
    text-decoration: none;
    color: #DE9E03;
    font-weight: normal;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
    font-size: 20px;
}

.bottom-bar > ul > li > a:hover{
    cursor: pointer;
    background-color: #3d0000;
}

.main-nav{
    height: 100%;
}

.main-nav > ul {
    height: 100%;
}

.main-nav > ul > li{
    height: 100%;
}

.main-nav > ul > li > a{
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
    transition: background-color 0.5s ease;
}

.main-nav ul li a:hover{
    cursor: pointer;
    background-color: #dddddd;
}

.profile-nav{
    height: 100%;
}

.profile-nav > ul {
    height: 100%;
}

.profile-nav > ul > li{
    height: 100%;
    margin: 0px;
    transition: background-color 0.5s ease;
}

.profile-nav > ul > li:hover {
    background-color: #b5b5b5;
    cursor: pointer;
}

.profile-nav > ul > li > a{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
}

.profile-nav > ul > li > a > img {
    max-height: 40%;
    width: auto;
}

.toggle-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    border: none;
    transition: background-color 0.5s ease;
}

.toggle-hamburger:hover {
    border-radius: 20px;
    border: none;
    background-color: #b5b5b5;
    cursor: pointer;
}

.toggle-hamburger img {
    height: calc(60px - 2rem);
    width: auto;
}

.dropdown-menu-white {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0px;
    top: 70px;
    border-radius: 10px;
    padding: 10px 0px;
}

.dropdown-menu-white ul {
    display: contents;
}

.dropdown-menu-white li {
    display: block;
    transition: background-color 0.5s ease;
}

.dropdown-menu-white li a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

body > header > div.top-bar > nav.main-nav > ul > li.more-nav-white > ul > li:nth-child(1), body > header > div.top-bar > nav.main-nav > ul > li.more-nav-white > ul > li > a {
    transition: background-color 0.5s ease;
}

.dropdown-menu-profile {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0px;
    top: 70px;
    border-radius: 10px;
    padding: 10px 0px;
    right: 0;
}

.dropdown-menu-profile ul {
    display: contents;
}

.dropdown-menu-profile li {
    display: block;
    transition: background-color 0.5s ease;
}

.dropdown-menu-profile li:hover {
    background-color: #b5b5b5;
}

.dropdown-menu-profile li a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: black;
}

#drawer {
    position: absolute;
    width: 285px;
    height: 100%;
    background-color: #f8f9fa;
    left: -285px;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    z-index: 1050;
    top: 0;
}

#drawer > div {
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    padding-left: 16px;
    width: 100%;
    height: 70px;
    padding: 15px;
    padding-left: 30px;
    border-bottom: 0.5px solid #b5b5b5;
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
    transition: background-color 0.5s ease;
}

#drawer > div:hover:not(:first-child):hover {
    background-color: #b5b5b5;
    cursor: pointer;
}

.enter-from-left {
    transform: translateX(285px);
}

.close-button {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.close-button > img {
    max-height: 20px;
    width: auto;
    margin-right: 40px;
}

.close-button > img:hover {
    cursor: pointer;
}

.toggle-in {
    display: block !important;
}

.more-nav-red {
    display: none;
}

.dropdown-menu-red {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0px;
    top: 130px ;
    border-radius: 10px;
    padding: 10px 0px;
}

.dropdown-menu-red ul {
    display: contents;
}

.dropdown-menu-red li {
    display: block;
    transition: background-color 0.5s ease;
}

.dropdown-menu-red li:hover {
    background-color: #dddddd;
}


.dropdown-menu-red li a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: black;
}



@media (max-width:1024px) and (min-width: 832px) {
    .toggle-nav {
        display: none;
    }

    .more-nav-white {
        display: flex;
    }

    .more::after {
        content: "﹀";
        font-size: 16px;
        padding-top: 12px;
        margin-left: 5px;
    }

    .toggle-hamburger {
        display: none;
    }

    #drawer {
        display: none;
    }
}

@media (min-width:1024px) {
    .toggle-nav {
        display: flex;
    }

    .more-nav-white {
        display: none;
    }

    .toggle-hamburger {
        display: none;
    }

    #drawer {
        display: none;
    }

    .dropdown-menu-white {
        display: none;
    }

}

@media (max-width: 831px){
    .logo {
        display: none;
    }

    .main-nav {
        display: none;
    }

    .toggle-hamburger {
        display: flex;
    }

    #drawer {
        display: flex;
    }

    .dropdown-menu-white {
        display: none;
    }
    .flex_row-container {
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 30px;
    }
}

@media (max-width: 570px){
    .logo {
        display: none;
    }

    .main-nav {
        display: none;
    }

    .toggle-hamburger {
        display: flex;
    }

    #drawer {
        display: flex;
    }

    .dropdown-menu-white {
        display: none;
    }

    .toggle-nav-red {
        display: none !important;
    }

    .more-nav-red {
        display: flex;
    }

    .more_red::after {
        content: "﹀";
        font-size: 16px;
        padding-top: 4px; /*12px*/
        margin-left: 5px;
    }

}

@media (min-width: 571px) {
    .more-nav-red {
        display: none !important;
    }
}
@media (max-width: 770px){
    .container_collapsed {
        flex-wrap: wrap;
    }

    .container_buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        position: relative;
        right: 0;
        overflow: hidden;
        margin-bottom: 20px;
        flex-basis: 100%;
    }
}

@media (max-width: 456px){
    #filter-container {
        float: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
}

